name: wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      # Used to host cibuildwheel
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install build
        run: python -m pip install build

      - name: Build wheels
        shell: bash
        run: |
          python -m build --wheel --sdist

      - uses: actions/upload-artifact@v3
        with:
          path: ./dist/*.whl

      - uses: actions/upload-artifact@v3
        with:
          path: ./dist/*.tar.gz
